h1 {
  text-align: center;
}

.grid {
  width: 300px;
  height: 300px;
  margin: auto;
}

.row {
  width: 306px;
  height: 100px;
  float: left;
}

.square {
  height: 100px;
  width: 100px;
  float: left;
  border: solid 1px black;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 50px;
}